<div class="vienna-editor">
    <h1>
        Navigation bar
    </h1>
    <hr />
    <fieldset class="vienna-form" data-bind="scrollable: {}">
        <label><span class="help"></span>Align</label>
        <div class="vienna-form-group">
            <label>
                <input name="align" type="radio" value="left" data-bind="checked: align" />Left
            </label>
            <label>
                <input name="align" type="radio" value="right" data-bind="checked: align" />Right
            </label>
        </div>
    </fieldset>
</div>